<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings file="private.config">
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="nigelhamersmithco560.onmicrosoft.com" />
    <add key="ida:ClientId" value="e6207445-e41e-41f6-aa71-59498f683bf0" />
    <add key="ida:AppKey" value="[private]" />
    <add key="todo:TodoListResourceId" value="https://nigelhamersmithco560.onmicrosoft.com/TodoListTestService" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>
